version: '3.8'

networks:
  internal:
    driver: bridge
  public:
    driver: bridge

services:
  postgres:
    image: postgres:17
    container_name: postgres
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    volumes:
      - pg_data_prod:/var/lib/postgresql/data  
    healthcheck:
      test: ["CMD", "pg_isready", "-U", "${POSTGRES_USER}"]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - internal
    deploy:
      resources:
        limits:
          memory: 2G
          cpus: "1.0"
    restart: always

  redis-stack:
    image: redis/redis-stack:latest
    container_name: redis-stack
    volumes:
      - redis_data_prod:/data
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 5s
      timeout: 3s
      retries: 5
    networks:
      - internal
    deploy:
      resources:
        limits:
          memory: 512M
          cpus: "0.5"
    restart: unless-stopped

  story-teller-app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: story-teller-app
    depends_on:
      postgres:
        condition: service_healthy
      redis-stack:
        condition: service_healthy
    env_file:
      - .env
    ports:
      - "${SERVER_PORT}:8000"
    networks:
      - public
      - internal
    deploy:
      resources:
        limits:
          memory: 512M
          cpus: "0.5"
    restart: unless-stopped
    

  # elasticsearch:
  #   image: docker.elastic.co/elasticsearch/elasticsearch:8.12.1
  #   environment:
  #     - discovery.type=single-node
  #     - xpack.security.enabled=false
  #   ports:
  #     - "9200:9200"
  #   volumes:
  #     - esdata:/usr/share/elasticsearch/data

  # kibana:
  #   image: docker.elastic.co/kibana/kibana:8.12.1
  #   ports:
  #     - "5601:5601"
  #   environment:
  #     ELASTICSEARCH_HOSTS: "http://elasticsearch:9200"

  # filebeat:
  #   image: docker.elastic.co/beats/filebeat:8.12.1
  #   user: root
  #   command: ["filebeat", "-e", "--strict.perms=false"]
  #   volumes:
  #     - ./filebeat.yml:/usr/share/filebeat/filebeat.yml:ro
  #     - ./app.log:/var/log/app/app.log:ro
  #   depends_on:
  #     - elasticsearch

volumes:
  pg_data_prod:
    driver: local
  redis_data_prod:
    driver: local
  # esdata: